body {
	background-image: url("https://az616578.vo.msecnd.net/files/responsive/cover/main/desktop/2016/09/23/636102055091786055-14007062_happy.jpg");
	background-size: 1500px 500px;
	background-repeat: no-repeat;
	background-position: top;

}

#express {
	color: white;
	text-align: left;
	text-shadow: 2px 1px black;
	font-family: "courier new";
	font-size: 55px;
	font-weight: bold;
	line-height: 1;
	
}

#express2 {
	color: white;
	text-align: right;
	text-shadow: 2px 1px black;
	font-family: "courier new";
	font-size: 55px;
	font-weight: bold;
	line-height: 1;

}

#express3 {
	color: white;
	text-align: center;
	text-shadow: 2px 1px black;
	font-family: "courier new";
	font-size: 55px;
	font-weight: bold;
	line-height: 1;

}

#getter {
	color: green;
	text-shadow: 1px .5px lightgreen;
	text-align: center;
	font-family: "courier new";
	font-size: 25px;
	font-weight: normal;
	line-height: 1;
	border: 2px solid lightgreen;
	border-radius: 20px;
	border-width: 1px 1px 1px 1px;
	background: white;
	margin: 0px 1200px 10px 100px;
}

#info {
	color: black;
	text-align: center;
	font-family: "courier new";
	font-size: 40px;
	font-weight: normal;
	line-height: 1;
	margin: 15px 1200px 10px 100px;
}

#javi {
	color: white;
	text-align: center;
	font-family: "courier new";
	font-size: 25px;
	font-weight: normal;
	line-height: 1;
	margin: 10px 1200px 10px 100px;
}

#goal {
	color: green;
	
	text-align: center;
	font-family: "courier new";
	font-size: 70px;
	font-weight: normal;
	line-height: 1;
	
	background: white;
	
}

html {
	background-color: lightgreen;
	background-position: top;
}

ul {
	color: green;
	text-align: center;
	font-family: "courier new";
	font-size: 55px;
	font-weight: normal;
	line-height: 1;
	border: 2px solid lightgreen;
	border-radius: 20px;
	border-width: 1px 1px 1px 1px;
	background: white;
	margin: 5px 300px 50px 300px;
}