@import {
	url(<link href="https://fonts.googleapis.com/css?family=Raleway" rel=")
}

html {
	background-color: white;
	margin: 0em;

}


#start {
	margin: .2em;
	background-image: url("Javi Running.jpg");
	background-size: 80em;
	background-repeat:no-repeat;
	background-position:;
}

#getter {
	color: lightgreen;
	text-shadow:;
	text-align: center;
	font-family: "courier new";
	font-size: 1.4em;
	font-weight: normal;
	line-height: 1em;
	border: 2px solid lightgreen;
	border-radius: 20px;
	border-width: 1px 1px 1px 1px;
	background: white;
	margin: 15px 850px 10px 100px;
}

#info {
	color: white;
	text-align: justify;
	font-variant:;
	font-family: "courier new";
	font-size: 3.8em;
	font-weight: normal;
	line-height: 1;
	margin: 15px 850px 10px 100px;
}

#javi {
	color: white;
	text-align: center;
	font-family: "courier new";
	font-variant: small-caps;
	font-size: 2.5em;
	font-weight: normal;
	line-height: 1;
	margin: 10px 100px 10px 850px;
}



#goal {
	color: green;
	
	text-align: center;
	font-family: "courier new";
	font-size: 4.5em;
	font-weight: normal;
	line-height: 1;
	
	background: white;

}



#express {
	color: black;
	text-align: center;
	font-variant: small-caps;
	text-shadow:;
	font-family: "courier new";
	font-size: 2.5em;
	font-weight: normal;
	line-height: 2em;
	background: white;
	margin: 1.5em;
	
}


h4 {
	background-color: lightgreen;

}


#express2 {
	color: white;
	text-align: center;
	text-shadow:;
	font-family: "Raleway";
	font-size: 55px;
	font-weight: normal;
	line-height: 1;

}


#express3 {
	color: white;
	text-align: center;
	text-shadow:;
	font-family: "Raleway";
	font-size: 55px;
	font-weight: normal;
	line-height: 1;

}


#comcast {
	
text-align: justify;
font-size: 2em;
color: black;
background-color: white;
margin: 6em;

}

#suburban {
	
text-align: center;
color: red;
background-color: white;


}

#power {
	
text-align: center;
color: red;
background-color: white;


}

#apple {
	
text-align: center;
color: red;
background-color: white;


}

#best {

text-align: center;
color: red;
background-color: white;


}